# Linux
*~
*.swp

# Windows
Thumbs.db
desktop.ini

# Mac OS X
.DS_Store
._*

# Composer
/composer.phar
/vendor

# NPM
themes/node_modules/

# Ignorerar den kompilerade css filen som skapas automatiskt efter ändringen
themes/kmom02/css/style.css


