* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
  color: $font-color;
}

ol,
ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll; /* Always display scrollbar, avoid hopping pages */
  margin: 0;
  background-color: $background-color;

  .main {
    flex: 1 0 auto; /* flex-grow = 1, flex-shrink = 0, flex-basis = auto */
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    min-height: 40em; /* Gör att footern inte hoppar upp vid kort innehåll */
  }

  p {
    font-size: 1.1em;
    line-height: 1.4;
    margin-bottom: 1.54rem;
  }
}

.header,
.footer {
  flex: 0 0 auto;
}

/* Header */

.header,
.site-header {
  display: flex;
  justify-content: space-between;
}

/* Title */

.title
,
.logo {
  padding: 3em 3em 3em 1em;
}

.logo {
  max-width: 50%;
  height: auto; /* Bevarar proportionerna */
  margin-left: 1em;
}

.title * {
  color: #111;
}

.title p {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin-bottom: 2.1rem;
  margin-top: 2.8rem;
  font-weight: bold;
}

h2
,
h3
,
h4
,
h5
,
h6 {
  font-weight: bold;
}

img {
  max-width: 100%;
}
