* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
  // color: $font-color;
}

ol,
ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll; /* Always display scrollbar, avoid hopping pages */
  margin: 0;
  background-color: $background-color;
  color: $main-font-color;

  .main {
    flex: 1 0 auto; /* flex-grow = 1, flex-shrink = 0, flex-basis = auto */
    margin: 0 auto;
    // max-width: 50rem; /* Motsvarar 800px */
    // Lägger till dessa för att förbättra mörktemat
    width: 90%;
    padding: $margin-p;
    // height: 100%; // förstörde sidorna så att footern hoppade upp på vissa.
  }

  p {
    font-size: 1.1em;
    line-height: 1.4;
    margin-bottom: 1.54rem;
  }
}

.header,
.footer {
  flex: 0 0 auto;
}

/* Title */
.title
,
.logo {
  padding: 3em 3em 3em 1em;
}

.title * {
  color: $title-color;
}

.title p {
  font-style: italic;
}

/* Stil för rubriker */

h1 {
  font-size: 2em;
  margin-bottom: 2.1rem;
  margin-top: 2.8rem;
  font-weight: bold;
}

h2
,
h3
,
h4
,
h5
,
h6 {
  font-weight: bold;
}

// Teckensnitt importerad från 'google fonts'.
// För texten
* {
  font-family: 'Roboto', sans-serif;
}
// För alla rubriker
h1
,
h2
,
h3
,
h4
,
h5
,
h6 {
  font-family: 'Open Sans', sans-serif;
}
