.color-table {
  border-spacing: 4px;
  border-collapse: separate;
  margin-bottom: $margin-h;
}

.color-table td {
  height: 50px;
  width: 50px;
}

/* IKEA */
.color-1 {
  background-color: #0367A6;
}

.color-2 {
  background-color: #02731E;
}

.color-3 {
  background-color: #F2CB05;
}

.color-4 {
  background-color: #F2F1F0;
}

.color-5 {
  background-color: #F26D6D;
}

/* Dagens industri */
.color-6 {
  background-color: #060126;
}

.color-7 {
  background-color: #04D976;
}

.color-8 {
  background-color: #335928;
}

.color-9 {
  background-color: #F2F0F0;
}

.color-10 {
  background-color: #A60D0D;
}

/* Västtrafik */
.color-11 {
  background-color: #455059;
}

.color-12 {
  background-color: #91BDD9;
}

.color-13 {
  background-color: #048ABF;
}

.color-14 {
  background-color: #034959;
}

.color-15 {
  background-color: #F2F2F2;
}