.color-table {
  border-spacing: 4px;
  border-collapse: separate;
  margin-bottom: $margin-h;
}

.color-table td {
  height: 50px;
  width: 50px;
}

/* IKEA */
.color-1 {
  background-color: #0367a6;
}

.color-2 {
  background-color: #02731e;
}

.color-3 {
  background-color: #f2cb05;
}

.color-4 {
  background-color: #f2f1f0;
}

.color-5 {
  background-color: #f26d6d;
}

/* Dagens industri */
.color-6 {
  background-color: #060126;
}

.color-7 {
  background-color: #04d976;
}

.color-8 {
  background-color: #335928;
}

.color-9 {
  background-color: #f2f0f0;
}

.color-10 {
  background-color: #a60d0d;
}

/* Västtrafik */
.color-11 {
  background-color: #455059;
}

.color-12 {
  background-color: #91bdd9;
}

.color-13 {
  background-color: #048abf;
}

.color-14 {
  background-color: #034959;
}

.color-15 {
  background-color: #f2f2f2;
}

/* Bilderna */
.webbplats-1,
.webbplats-2,
.webbplats-3 {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
