
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 100px;
  // border-top: 1px dotted #0e80f2;
  background: $background-color-gradient-alternative;

  .social {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 2em;
  }
}

