.footer {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  border-top: 1px solid #222;
}

.social {
  margin-top: 15px;
  margin-bottom: 20px;
}