.header {
  display: flex;
  align-items: center;
  background: $background-color-gradient;
  justify-content: space-between;
  padding-right: 1rem;
  margin-bottom: 3.125rem;

  .nav a {
    font-size: 1.5rem;
    text-decoration: none;
  }
}

.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3em;

  .logo {
    max-width: 40%;
    height: auto; /* Bevarar proportionerna */
    margin-left: 1em;
  }
}


// .site-header {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
// }

// .header {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   padding: 2rem;
//   background: $background-color-gradient;
//   // margin-bottom: 50px;
// }
