.header {
  display: flex;
  align-items: center;
  background: $background-color-header;
  justify-content: space-between;
  padding-right: 1rem;
  // margin-bottom: 3.125rem;

  // Test
  // background-image: url('/portfolio/assets/img/banner.jpg');
  // background-size: cover; /* För att täcka hela bannern */
  // background-position: center; /* För att centrera bilden */
  // height: 400px; /* Justera höjden på bannern */

  .nav a {
    font-size: 1.5rem;
    text-decoration: none;
    color: $title-color;
  }
}

.site-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.3em;

  .logo {
    max-width: 32%;
    height: auto; /* Bevarar proportionerna */
    margin-left: 1em;
  }
}


// .site-header {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
// }

// .header {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   padding: 2rem;
//   background: $background-color-gradient;
//   // margin-bottom: 50px;
// }
