
// @media (max-width: 767px) {
@media (max-width: 1024px) {
  .header {
    margin-bottom: 1.875rem;
    
    .site-header {
      font-size: 1em;
    }
  }

  .body {
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .main {
    width: 94% !important;
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
  
  .title
  ,
  .logo {
    padding: 1em;
  }

  .title {
    min-width: 40%;
  }

  .logo {
    max-width: 30%;
    height: auto; /* Bevarar proportionerna */
  }
}

@media (max-width: 820px) {
  .landingpage {
    grid-template-columns: 1fr; /* En kolumn */
    max-width: 90%;

    h1 {
      justify-self: flex-start;
    }
  }

  .box,
  .medium,
  .wide {
    grid-column: 1 / -1; /* Gör att varje box sträcker sig över hela raden oavsett hur många kolumner det finns */
  }

  .main-tech {
    grid-gap: 5px;
    grid-template-columns: 1fr; /* Görs om till en kolumn */

    .tech-pages {
      overflow-x: hidden; /* Tar bort horisontell scroll främst på 'HTML' artikeln. */
      white-space: pre-wrap; /* Anpassar långa kodsnuttar till skärmen */
      margin-left: 3%;
      margin-right: 3%;
    }

    .side-bar {
      display: none; /* Döljer sidebaren på små skärmar */
    }
  }
  /* Tabellen i rapport, första rapporten */
  .typografi-table {
    font-size: 0.9rem; /* Gör texten mindre */
  }

  .typografi-table th,
  .typografi-table td {
    display: block; /* Gör varje cell till block för att stapla dem */
    width: 100%; /* Låter cellerna sträcka sig över hela bredden */
    box-sizing: border-box; /* Ser till att padding inte påverkar bredden */
    text-align: left; /* Justerar texten till vänster */
  }

  .typografi-table tr {
    display: block; /* Staplar raderna */
    margin-bottom: 1rem; /* Lägger till mellanrum mellan rader */
  }

  .site-header.logo {
    padding: 1em 1em 1em 0;
    max-width: 20%;
    height: auto;
  }

  .logo {
    max-width: 30%;
    height: auto; /* Bevarar proportionerna */

  }

  .me {
    float: none; /* Tar bort float */
    display: block;
    margin-bottom: $margin-h;
  }

  .center-about {
    text-align: left;
    margin-bottom: $margin-h;
  }
}

/* Galleri sidan */
@media (max-width: 668px) {
  .grid-container {
    grid-template-columns: 1fr; /* En kolumn */
    max-width: 90%;
    margin: 0 auto;
  }
}
