@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'mobile';
@import 'basic';

body {
  background-color: $background-color;
  width: 800px;
  margin: 0 auto;
}

* {
  color: $font-color;
}