// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'mobile';
@import 'footer';
@import 'header';
@import 'test';
@import 'images';
@import 'basic';
@import 'technology';
@import 'color_table';
@import 'typography-table';
@import 'variables-dark';
@import 'loading';
@import 'gallery';
@import 'responsive';

/* style-dark.scss */

body {
  background-color: $background-color;
}

.main,
 
.main-tech {
  width: 100%;
  background-color: $main-background-color;
  color: $main-font-color;
  border-radius: $dark-theme-border-radius;
}

.box {
  border: 1px solid $tech-links-border-color;
  background: $tech-box-background;
}

.tech-links {
  background-color: $link-background;
  border: 1px solid $tech-links-border-color;

  a {
    color: $main-link-color;
  }
}

.box .read-more { /* Länkarna i technology/index.md */
  color: $main-link-color;
}
/* Raport tabellen, första raporten */
.typografi-table tr:nth-child(even) {
  background-color: $table-background;
}

.typografi-table tr:hover {
  background-color: $table-background-hover;
}

pre {
  background: $pre-background;
}

code {
  background: $code-background;
}

a {
  color: $main-link-color;
}

.main p {
  font-size: $font-size;
}
