/* technology layout */
.landingpage {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr); /* Tre kolumner */
  padding-bottom: $margin-h;
  padding-left: $margin-p;
  padding-right: $margin-p;
  margin-bottom: $margin-h;
}

.landingpage h1 {
  grid-column: span 3;
  // width: 100%; /* Täcker hela cellens bredd */
  justify-self: center;
  margin-bottom: $margin-h;
}
/* boxarna */
// .box {
//   border: 1px solid $border-color;
//   padding: 4em;
//   padding-top: 0.5em;
//   padding-left: 0.5em;
//   box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
// }

.box {
  border: 1px solid $border-color;
  background: $tech-box-background;
  padding: 4em;
  padding-top: 0.5em;
  padding-left: 0.5em;
  transition: transform 0.3s ease, box-shadow 0.5s ease;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3), 
    -4px -4px 10px rgba(255, 255, 255, 0.1), 
    0 10px 20px rgba(0, 0, 0, 0.15);
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3), 
    -4px -4px 15px rgba(255, 255, 255, 0.1), 
    0 20px 30px rgba(0, 0, 0, 0.2);
}


.box:nth-child(1),
 
.box:nth-child(2) {
  height: 300px; /* Ökar höjden för första och andra lådan */
}


.medium {
  grid-column: span 2;
}

.wide {
  grid-column: span 3;
}

/* För de olika tech-sidorna, eller sidan som visar de olika teknikerna */
.main-tech {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 2fr; /* Två kolumner */
  // max-width: 950px;
  min-height: 60em; /* Håller footern nere vid kort innehåll på sidan i IPads */
  // La till för att förbättra mörktemat.
  padding-right: 20px;
  margin-left: 20px;
  max-width: 90%;
  margin: 0 auto;
}

.side-bar {
  margin-top: 1.5rem;
  margin-left: 2rem;
  padding: 1em;
  color: $main-link-color;
}

.tech-pages {
  margin-left: 7rem;
  // La till för att förbättra mörktemat.
  padding-left: 10px;
  padding-right: 10px;
  max-width: 100%;
}

.tech-links {
  padding: 1em;
  border: 1px solid $tech-links-border-color;
  text-align: center;
  box-shadow: 0 4px 12px rgb(33, 33, 33, 0.1);
  background-color: $link-background;
  border-radius: 8px;

  a {
    color: #37374a;
  }

  a:hover {
    color: #5c5cb6;
  }
}

.box .read-more { /* Länkarna i technology/index.md */
  color: #37374a;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

}

.box .read-more:hover {
  color: #5c5cb6;
}

