/* Tabellen som visar font-rapporterna från 3 olika hemsidor, rapport 1 'färger' */
.typografi-table {
  border-collapse: collapse;
  margin-bottom: $margin-h;
  font-size: 1.1rem;
  margin-top: $margin-h;
  width: 100%;
}

.typografi-table th {
  font-weight: bold;
  text-align: left;
  padding-bottom: 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.typografi-table tr:nth-child(even) {
  background-color: $table-background;
}

.typografi-table tr:hover {
  background-color: $table-background-hover;
}

td,
th {
  padding: 15px;
}


.website-title {
  margin-bottom: $margin-h;
  margin-top: $margin-h;
  font-weight: bold;
}
