$main-background-color: #333;
$main-font-color: #fff;
$main-link-color: #fff;
$link-background: #333;
$tech-links-border-color: #9f9772;
$table-background: rgb(7, 76, 104);
$table-background-hover: rgb(13, 117, 158);
$dark-theme-border-radius: 8px;
$pre-background: #333;
$code-background: #222;
// Bakgrundsfärgen på 'body'.
$background-color: #333;
