$font-color: #000;
$font-alternative-color: #fff;
$title-color: #111;
$accent-color: #ee6c4d;
$background-color: rgb(211, 238, 252);
$background-alternative-color: #e0fbfc;
$background-color-gradient: linear-gradient(to bottom, rgb(58, 131, 165), rgb(207, 237, 252));
$background-color-gradient-alternative: linear-gradient(to bottom, rgb(188, 234, 249), rgb(69, 150, 190));
$link-color: #0a46c7;
